Bardzo tajne!
<br>
Dodawanie nowych lekcji:
<br>
<%= link_to "Dodawanie nowych lekcji", new_lesson_path %>

<h1>Kurs języka Latex</h1>
To jest strona wejściowa.

To jest lista dostępnych lekcji:
<br>
<%= link_to "Lekcje, woohoo", lessons_path %>