<h1>Listing lessons</h1>

<table>
  <tr>
    <th></th>
  </tr>

  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= link_to lesson.description, lesson %></td>
    </tr>
  <% end %>
</table>

<br />